*{
padding: 0;
margin: 0;
}
.firstscreen > img{
    position:absolute ;
width: 100%;
}
.firstscreen > h1{
position: fixed;
color: red;
font-size: 75px;
width: 100%;
text-align: center;
top: 250px
}




